

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scrollbar-width: thin;
    scrollbar-color: var(--moss-green) var(--bg-dark);
}

html, body {
    height: 100%;
}
/*aqui van las variables de color, por si a alpaka no le gusta lo que escogí*/  
:root{
    --blue-alpine-dark:#0b1220;
    --blue-alpine-mid:#121b2f;
    --moss-green:#5f7c6a;
    --text-light:rgba(255,255,255,0.85);
    --text-muted:rgba(255,255,255,0.55);
    /*uso semantico del color*/
    --bg-dark: var(--blue-alpine-dark);
    --bg-panel:var(--blue-alpine-mid);
    --accent:var(--moss-green);
    /*estados*/
    --hover-glow:rgba(63,95,74,0.4);
    --border-soft:rgba(63,95,74,0.6);
    /*barra de scroll*/
    --scroll-track:var(--bg-dark);
    --scroll-thumb:rgba(46,74,90,0.9);

    /*sombras*/
    --shadow-soft:0 8px 30px rgba(0,0,0,0.4);


}
/*aqui voy a comenzar con el body del html*/

body {
    font-family: arial, sans-serif; /*tengo que prehuntarle que fuentes le gustarian*/
    background: linear-gradient(
        180deg,
        var(--blue-alpine-dark), var(--blue-alpine-mid)
    );
    color: var(--text-light);
}

/*aqui empieza el contenido general*/

.lobby{
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    height: 100vh;
}

/*aqui va la columna izquierda*/

.lobby-left{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2rem;

}

/*aqui va la parte del centro, hace scroll, por eso el scroll debe estar centrado arriba*/

.lobby-center{
    overflow-y: auto; /*el scroll quedo aca porque asi se mueve todo*/
    padding: 4rem 2rem;
    display: flex;
    flex-direction: column;
    gap: 4rem;
}

/*aqui nos centramos en los post en si*/

.beat-post{
    border: 1px solid var(--accent);/*si no me llega a gustar el borde, eliminar este de aqui*/
    padding: 2%;
    max-width: 600px;
    margin: 0 auto;
}


.beat-post img{
    width: 100%;
    height: auto;
    display: block;
}
/*Tarjetas con movimiento*/

.beat-card{/*aqui va la tarjeta base*/
    width: 500px;
    margin: 0 auto;
    perspective: 1000px;
    cursor: pointer;

}

.beat-card-inner{/*aqui va lo visual*/
 position: relative;
 width: 100%;
 height: 500px;
 /*overflow: hidden;*/
 transform-style: preserve-3d;
 transition: transform 0.8s ease;
 border: 1px solid var(--border-soft);
 border-radius: 8px;
 background-color: var(--bg-panel);

}

.beat-card-front,.beat-card-back{
    position: absolute;
    inset: 0;
    height: 100%;
    backface-visibility: hidden;
    border-radius: 6px;
    
}

.beat-card-front{
    display: flex;
    flex-direction: column;
    position: relative;
}

.beat-title {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 3;
    padding: 0.50rem;
    font-size: 0.9rem;
    letter-spacing: 0.12em;
    text-transform: uppercase;
    text-align: center;
    background: linear-gradient(to top,rgba(11, 18, 32, 0.85),rgba(11,18,32,0) ) ;
}

.beat-card-front img{/*imagen del frente*/
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
    z-index: 2;
    background-color: var(--bg-panel);
    border: 1px solid var(--accent);

}

.beat-card-back{
    background-color: var(--bg-panel);
    transform: rotateY(180deg);
    display: flex;
    align-items: flex-end;
    justify-content: center;
    padding: 1rem;
    text-align: center;
    color: var(--text-light);
    background: linear-gradient(to top,rgba(11, 18, 32, 0.85),rgba(11,18,32,0) ) ;
}

.beat-card:hover .beat-card-inner{
    transform: rotateY(180deg);
    border-color: var(--accent);
    box-shadow: 0 0 12px rgba(95, 124, 106, 0.4), 0 0 30px rgba(95,124,106,0.25);
}

/*dos modificadores del texto bajo imagen*/

.beat-info{
    text-align: center;
}

.beat-title {
    font-size: 0.9rem;
    letter-spacing: 0.12em;
    color: var(--text-light);
    text-transform: uppercase;
    margin-top: 0.5rem;
}

/*aqui va el menu de la derecha*/

.lobby-right{
    display: flex;
    align-items: center;
    justify-content: center;
}

.menu{
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.menu a{
    text-decoration: none;
    font-size: 0.9rem;
    letter-spacing: 0.15em;
    color: var(--text-muted);
    transition: color 0.3s ease;
}

.menu a:hover {
    color: var(--text-light);
}

/*aqui como adhision nueva editare la barra de scroll para que se vea mejor*/

/*aqui va la informacion para buscadores que usan de base chrome*/
::-webkit-scrollbar{
    width: 8px;
}
::-webkit-scrollbar-track{
    background: var(--scroll-track);
}

::-webkit-scrollbar-thumb{
    background-color: var(--scroll-thumb);
    border-radius: 10px;
    border: 2px solid var(--bg-dark);
}

::-webkit-scrollbar-thumb:hover{
    background-color: var(--accent);
}

@media(max-width:600px){
    .beat-card{
        width: 90vw;
    }
    .beat-card-inner{
        height: 90vw;
    }
}

